{% extends "admin/change_form.html" %}
{% load i18n %}
{% load productsections_tags %}

{% block inline_field_sets %}
    {% for inline_admin_formset in inline_admin_formsets %}
        {% if inline_admin_formset.opts|class_name:"OrderTableIteminline" %}
            <a href="{% sub_product_chars_url original.id %}">
                <button type="button">
                    {% trans "Ordering item grouping" %}
                </button>
            </a>
        {% endif %}
        {% include inline_admin_formset.opts.template %}
    {% endfor %}
{% endblock %}
