{% extends "admin/change_form.html" %}
{% load i18n %}
{% load productsections_tags %}

{% block extrahead %}
    {% include 'global/admin/summernote_js.html' %}
    {{ block.super }}
{% endblock %}

{% block inline_field_sets %}
    {% for inline_admin_formset in inline_admin_formsets %}
        {% if inline_admin_formset.opts|class_name:"ProductM2MInline" %}
            <a href="{% product_sections_url original.id %}">
                <button type="button">
                    {% trans "Sorted Products in Section" %}
                </button>
            </a>
        {% elif inline_admin_formset.opts|class_name:"ProductCharsInline" %}
            <a href="{% product_chars_url original.id %}">
                <button type="button">
                    {% trans "Sorted Chars in Product" %}
                </button>
            </a>
        {% endif %}
        {% include inline_admin_formset.opts.template %}
    {% endfor %}
{% endblock %}
